*
    font-family: Montserrat
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap')

    
.Container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    padding-top: 25px

.divPropaganda
    display: flex
    flex-direction: column
    width: 294px
    height: 67px
    background-color: #F9AEC4
    border: none
    border-radius: 15px
    text-align: left
    margin-bottom: 21px

.p
    margin:0
    color: #df5d86
    font-size: larger
    font-weight: 600
    padding-left: 80px

.agaseis
    color: #fcfcfc
    padding-left: 80px

.icon
    width: 20px
    height: 20px

.imgicon
    width: 70px
    display: flex

.carousel.slide
    display: flex
    width: 1200px
    margin: 0 auto

.carousel-inner
    border-radius: 50px
    display: flex

.agaum
    display: flex
    justify-content: center
    align-items: center
    margin-top: 20px
    font-weight: 600px

.divDosProduto
    
