*
    font-family: Montserrat
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap')

    
.Container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    padding-top: 25px

.divPropaganda
    display: flex
    flex-direction: column
    width: 220px
    height: 50px
    background-color: #F9AEC4
    border: none
    border-radius: 15px
    text-align: left

.p
    margin-top: 9px
    color: #df5d86
    font-size: larger
    font-weight: 600

h6
    color: #fcfcfc